@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');







* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 82.5%;
  font-family: 'Roboto', sans-serif;
}
li{
  list-style: none;
  display:inline-block;
}
a{
  text-decoration: none;
}


.header{
  border-style: solid;
}
.nav-menu {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}


image container css


.image-container{
    display:inline-block;
    position:relative;
    width:100%;
}
.image-container img{
    
        display: block;
        width: 100%;
        height: auto;
      }
      .overlay-text {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        background-color: #000000; 
        color: #fff; 
        padding: 10px 20px; 
        font-size: 20px; 
        text-align: center;
        font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;
      }
    
    Submen-
    
li:hover{
cursor:pointer;
}
li
{
   display:block;
   float:left;
   width:50px; /* adjust */
   height:100%; /* adjust */
   padding: 1px; /*adjust*/
}
.dropdown{
  display:none;
}
.nav-item:hover>ul {
	display: block;
	float:left;
  overflow: hidden;
}
